*{
    margin: 0;
}
header, footer{
    height: 22vh;
    background: #D9D9D9;
}
main{
    display: flex;
}
aside{
    height: 56vh;
    width: 27vw;
    background: #C0BDBD;
}
section{
    display: flex;
    flex-direction: column;
}
.top{
    width: 46vw;
    height: 28vh;
    background: #827878;
}
.bottom{
    width: 46vw;
    height: 28vh;
    background: #B7ADAD;
}