*{
    margin: 0;
}
.wrapper{
    display: grid;
    grid-template-areas:
    "header header header header"
    "left-aside top-main top-main right-aside"
    "left-aside bottom-main bottom-main right-aside"
    "footer footer footer footer";
}
header{
    grid-area: header;
    background: #D9D9D9;
    height: 22vh;
}
.left-aside{
    grid-area: left-aside;
    background: #C0BDBD;
    width: 27vw;
    height: 56vh;
}
.top-main{
    grid-area: top-main;
    background: #827878;
    width: 46vw;
    height: 26vh;
}
.bottom-main{
    grid-area: bottom-main;
    background: #B7ADAD;
    width: 46vw;
    height: 30vh;
}
.right-aside{
    grid-area: right-aside;
    background: #C0BDBD;
    width: 27vw;
    height: 56vh;
}
footer{
    grid-area: footer;
    background: #D9D9D9;
    height: 22vh;
}