*{
    margin: 0;
}
header{
    height: 4vh;
    background: #D9D9D9;
}
main{
    display: flex;
}
.left{
    width: 29vw;
    height: 86vh;
    background: #A4A4A4;
}
.middle{
    width: 31vw;
    height: 86vh;
    background: #C1C1C1;
}
aside{
    display: flex;
    flex-direction: column;
}
.top{
    width: 40vw;
    height: 43vh;
    background: #7F7A7A;
}
.bottom{
    width: 40vw;
    height: 43vh;
    background: #6B6161;
}
footer{
    height: 10vh;
    background: #D9D9D9;
}
