@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1E1E1E;
}
.w-1340{
    width: 1340px;
    margin: 0 auto;
}
nav{
    padding-top: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 59px;
}
ul a{
    text-decoration: none;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    text-transform: uppercase;
    color: #E9E3DC;
}
.nav__active-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 60px;
    background: #B3A0CD;
    color: #1E1E1E;
}
/*---------------------------------*/
.header-title{
    width: 1255px;
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 107px;
    line-height: 89%;
    letter-spacing: -0.02em;
    text-align: center;
    text-transform: uppercase;
    margin: 74px auto 33px auto;
    color: #E9E3DC;
}
.header_img{
    display: block;
    margin: 0 auto;
}
/*-----------------------------*/
.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1340px;
    height: 369px;
    border-width: 4px;
    border-radius: 30px;
    background: #D1EF53;
    margin: 32px auto 64px auto;
}
.about-section h2{
    width: 533px;
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 89%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #1E1E1E;
}
.about-section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-section__p{
    width: 521px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #1E1E1E;
}
.about-section__button{
    width: 176px;
    height: 60px;
    border: 4px solid #1E1E1E;
    background: #E9E3DC;
    box-shadow: 8px 8px 0 0 #000000;
    margin-top: 34px;
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    text-align: center;
    text-transform: uppercase;
}
/*------------------------------------*/
.images{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location{
    margin: 64px auto;
}
/*---------------------------------------*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer h2{
    width: 895px;
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 102%;
    text-align: center;
    text-transform: uppercase;
    color: #E9E3DC;
}
footer button{
    width: 196px;
    height: 60px;
    background: #D1EF53;
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    text-align: center;
    text-transform: uppercase;
    margin: 33px auto 36px auto;
}