@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    background: #161622;
    font-family: "Inter", sans-serif;
    overflow: hidden;
}
.circle-left{
    width: 396px;
    height: 396px;
    opacity: 0.5;
    border: 48px solid #6F1DF4;
    border-radius: 50%;
    position: absolute;
    left: -200px;
    top: -200px;
}
.circle-right{
    width: 260px;
    height: 260px;
    opacity: 0.5;
    border: 48px solid #6F1DF4;
    border-radius: 50%;
    position: absolute;
    right: -130px;
    top: -20px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 533px;
    margin: 170px auto;
}
h1{
    font-weight: 700;
    font-size: 180px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #FFFFFFE5;
}
h3{
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.25px;
    text-align: center;
    color: #FFFFFFE5;
}
p{
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFFBF;
    padding: 36px 0;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 24px;
}
button:nth-child(1){
    width: 212px;
    height: 64px;
    padding: 0 48px;
    border-radius: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    background: #6F1DF4;
}
button:nth-child(2){
    width: 168px;
    height: 64px;
    padding: 0 48px;
    border-radius: 32px;
    background: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    vertical-align: middle;
    color: #000000;

}