*{
    margin: 0;
}
.wrapper{
    display: grid;
    grid-template-rows: 4vh 74vh 10vh 12vh;
}
main{
    display: grid;
    grid-template-columns: 59vw 41vw;
}
.asides{
    display: grid;
    grid-template-rows: 40vh 34vh;
}
header{background: #D9D9D9;}
.content{background: #A4A4A4;}
.top-aside{background: #7F7A7A;}
.bottom-aside{background: #615050;}
.line{background: #D9D9D9;}
footer{background: #AFA9A9;}