*{
    margin: 0;
}
header{
    height: 4vh;
    background: #D9D9D9;
}
main{
    display: flex;
}
section{
    width: 59vw;
    height: 74vh;
    background: #A4A4A4;
}
aside{
    display: flex;
    flex-direction: column;
}
.top{
    width: 41vw;
    height: 40vh;
    background: #7F7A7A;
}
.bottom{
    width: 41vw;
    height: 34vh;
    background: #615050;
}
address{
    height: 10vh;
    background: #D9D9D9;
}
footer{
    height: 12vh;
    background: #AFA9A9;
}
