*{
    margin: 0;
}
.wrapper{
    display: grid;
    grid-template-rows: 4vh 86vh 10vh;
}
main{
    display: grid;
    grid-template-columns: 29vw 31vw 40vw;
}
aside{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header{background: #D9D9D9;}
.column_1{background: #A4A4A4;}
.column_2{background: #C1C1C1;}
.top_aside{background: #7F7A7A;}
.bottom_aside{background: #6B6161;}
footer{background: #D9D9D9;}