*{
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background: #8D8484;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #000000;
}
main{
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #ffffff;
}
section{
    display: flex;
    flex-direction: column;
}
.content_1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 73vw;
    background: #776969;
}
.content_2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 73vw;
    background: #643030;
}
.content_3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 73vw;
    background: #441818;
}
aside{
    display: flex;
    flex-direction: column;
}
.spam_1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27vw;
    height: 30vh;
    background: #937575;
}
.spam_2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27vw;
    height: 30vh;
    background: #644C4C;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background: #BDBDBD;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #000000;
}
