body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}

section {
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 8s linear infinite;
}

div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #5454D4;
    margin: 10px;
    animation: colorChange 3s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes colorChange {
    0% { background: #5454D4; }
    50% { background: #206ABB; }
    100% { background: #5454D4; }
}

