*{
    margin: 0;
}
.wrapper {
    display: grid;
    grid-template-areas:
    "header header header"
    "left-aside main right-aside"
    "footer footer footer";
}
header {
    grid-area: header;
    background: #D9D9D9;
    height: 22vh;
}
.left-aside{
    grid-area: left-aside;
    background: #C0BDBD;
    height: 56vh;
    width: 27vw;
}
main{
    grid-area: main;
    background: #A4A4A4;
    height: 56vh;
    width: 46vw;
}
.right-aside{
    grid-area: right-aside;
    background: #C0BDBD;
    height: 56vh;
    width: 27vw;
}
footer{
    grid-area: footer;
    background: #D9D9D9;
    height: 22vh;
}