*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}
section{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}
#ping{
    background-color: pink;
}
#black{
    background-color: #272727;
    color: white;
}
h3{
    font-size: 50px;
    margin-bottom: 50px;
}
